/* remove browser default margins */
body {
  margin: 0;
}

.score {
  font-size: 40px;
  color: white;
  position: absolute;
  z-index: 1;
}

.canvas {
  position: relative;
}

#modal {
  display: flex;
  justify-content: center;
  position: absolute;
  background: white;
  height: 200px;
  width: 500px;
  z-index: 1;
  top: 50%;
  left: 50%;
}

#background {
  text-align: center;
}
/* .show-modal {
  display: block;
} */
